<div data-hook="admin_renting_option_form_fields" class="align-center row">
  <div class="col-xs-8">
    <%= f.field_container :name do %>
      <%= f.label :name, class: 'required' %><br />
      <%= f.text_field :name, :class => "fullwidth" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class="col-xs-2">
    <%= f.field_container :period_quantity do %>
      <%= f.label :period_quantity, class: 'required' %><br />
      <%= f.number_field :period_quantity, :class => "fullwidth" %>
      <%= f.error_message_on :period_quantity %>
    <% end %>
  </div>

  <div class="col-xs-2">
    <%= f.field_container :period_type do %>
      <%= f.label :period_type, class: 'required' %><br />
      <%= f.collection_select(:period_type,
        Spree::RentingOption.period_types.to_a, :first, :first,
        {:class => "fullwidth"},
        {prompt: 'Please select the period type'}) %>
      <%= f.error_message_on :period_type %>
    <% end %>
  </div>
</div>
