<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(link_to plural_resource_name(Spree::RentingOption), spree.admin_renting_options_path) %>
<% admin_breadcrumb(@renting_option.name) %>

<% content_for :page_actions do %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @renting_option } %>

<%= form_for [:admin, @renting_option] do |f| %>

  <fieldset class="no-border-bottom">
    <legend><%= Spree::RentingOption.model_name.human %></legend>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
