<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(plural_resource_name(Spree::RentingOption)) %>


<% content_for :page_actions do %>
  <% if can?(:create, Spree::RentingOption) %>
    <li id="new_ot_link">
      <%= button_link_to Spree.t(:new_renting_option), new_admin_renting_option_url, { :remote => true, :id => 'new_renting_option_link' } %>
    </li>
  <% end %>
<% end %>

<div id="new_renting_option"></div>

<% if @renting_options.any? %>
<table class="index sortable" id="listing_renting_options" data-hook="listing-renting-options" data-sortable-link="<%= update_positions_admin_renting_options_url %>">
  <colgroup>
    <col style="width: 10%">
    <col style="width: 35%">
    <col style="width: 40%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="option_header">
      <th class="no-border"></th>
      <th><%= Spree::RentingOption.human_attribute_name(:name) %></th>
      <th>Presentation</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @renting_options.each do |renting_option| %>
      <tr class="spree_renting_option <%= cycle('odd', 'even')%>" id="<%= spree_dom_id renting_option %>" data-hook="option_row">
        <td class="no-border"><span class="handle"></span></td>
        <td class="align-center"><%= renting_option.name %></td>
        <td class="align-center presentation"><%= renting_option.presentation %></td>
        <td class="actions">
          <% if can?(:update, renting_option) %>
            <%= link_to_edit(renting_option, :class => 'admin_edit_renting_option', :no_text => true) %>
          <% end %>
          <% if can?(:destroy, renting_option) %>
            <%= link_to_delete(renting_option, :no_text => true) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="col-xs-9 no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::RentingOption,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
