<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @renting_option } %>

<%= form_for [:admin, @renting_option] do |f| %>
  <fieldset>
    <legend align="center"><%= Spree.t(:new_renting_option) %></legend>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
