$("#new_renting_option").html('<%= escape_javascript(render :template => "spree/admin/renting_options/new", :formats => [:html], :handlers => [:erb]) %>');
$("#new_renting_option_link").parent().hide();
