 <span class="renting-option renting">
   <% if @product.renting_option && !@product.variants.pluck(:spree_renting_option_id).any? %>
    (<%= @product.renting_option.presentation %>)
   <% end %>
 </span>
