<%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_for(current_pricing_options), 'data-rentingperiod' => (variant.renting_option.nil?? '' : variant.renting_option.presentation) %>
