/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.renting{
  font-weight: bold;
  color: darkblue;
}

.line-item-renting-option{
  clear: both;
  float: left;
  font-weight: bold;
  color: darkblue;
}
