<div data-hook="new_product_renting_option">
  <%= f.field_container :renting_option do %>
    <%= f.label :renting_option_id, Spree::RentingOption.model_name.human %>
    <%= f.field_hint :renting_option %>
    <%= f.collection_select(:renting_option_id,
      Spree::RentingOption.all, :id, :presentation,
      { :include_blank => Spree.t('match_choices.none') },
      { :class => 'select2',
        :name => 'product[spree_renting_option_id]' }) %>
    <%= f.error_message_on :renting_option %>
  <% end %>
</div>
