<div data-hook="new_product_renting_option" class="col-xs-3">
  <%= f.field_container :renting_option do %>
    <%= f.label :renting_option, 'Renting Options' %>
    <%= f.field_hint :renting_option %>
    <%= f.collection_select(:renting_options,
      Spree::RentingOption.all, :id, :presentation,
      {},
      { :class => 'select2 fullwidth',
        multiple: true,
        size: 3,
        style: 'height: 100%'}) %>
    <%= f.error_message_on :renting_options %>
  <% end %>
</div>
