<div class="col-xs-3">
  <div class="field" data-hook="renting-option">
    <%= f.label :renting_option %>
    <%= f.collection_select :renting_option_id,
                            Spree::RentingOption.all,
                            :id,
                            :presentation,
                            { include_blank: Spree.t(:select_renting_option, scope: [:admin, :renting_options]) },
                            {
                              name: 'variant[spree_renting_option_id]',
                              class: "select2 fullwidth"
                            } %>
  </div>
</div>
