<% if item.variant.renting_option.present? %>
<br />
<span class="line-item-renting-option" data-hook="order-details-line_item_renting_option">
[<%= item.variant.renting_option.presentation %>]
</span>
<% end %>
